{% extends "layout-paginas.html" %}

{% block content %}

      <!-- ======= Precios ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <h2>INTERNET DEDICADO</h2>
        <div class="section-title">
          <h2>Paquetes</h2>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Mensual</h3>
              <h4><sup>$</sup>289*<span>al mes*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Cobertura en zonas complicadas*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Desde 5 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $289*</li>

              </ul>
              <a href="/servicio-dedicado" class="buy-btn">Leer más</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Semestral</h3>
              <h4><sup>$</sup>17,500*<span>semestral*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Cobertura en zonas complicadas*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Desde 10 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $17,500*</li>
              </ul>
              <a href="/servicio-dedicado" class="buy-btn">Leer más</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Anual</h3>
              <h4><sup>$</sup>25,000*<span>al año*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Enlace a Sucursales*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Desde 10 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $25,000*</li>
              </ul>
              <a href="/servicio-dedicado" class="buy-btn">Leer más</a>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- Fin Precios -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-description">
          <h2>¡Lo más veloz y confiable para su empresa!</h2>
          <p align="justify">
              Servicio de Internet Dedicado. Enlace Dedicado la más alta velocidad y disponibilidad del Internet con monitoreo las 24 horas del día. Seguridad de todas tus operaciones. El mejor desempeño del Internet Dedicado.
          </p>
          <br>
            <p align="justify">
                El servicio de Enlace dedicado (Internet Dedicado) es ideal para las empresas que necesitan conectividad permanente a Internet, de alta calidad y disponibilidad.
          </p>
          <br>
            <p align="justify">
              Mediante éste servicio <b>BLACOM</b> provee a las empresas una conexión simétrica, exclusiva y directa a Internet que se logra mediante un enlace dedicado (internet dedicado) a su empresa.
          </p>
          <br>
            <p align="justify">
                Con el servicio Enlace dedicado a Internet usted podrá contar con velocidades desde 1Mbps hasta 155Mbps, teniendo garantizado el 100% del ancho de banda contratado.
          </p>
          <br>
          <p>
            <i class="bx bx-check"></i><b>Implementamos Zonas WiFi (HotSpot)</b><br><br>
            <i class="bx bx-check"></i><b>Para Hoteles, Complejos, Campus Universitarios, Zonas Comerciales</b><br><br>
            <i class="bx bx-check"></i><b>Hasta 1000 Mbps</b><br><br>
            <i class="bx bx-check"></i><b>Cobertura en zonas complicadas</b><br><br>
                  <i class="bx bx-check"></i><b>Ideal para una gran organización</b><br><br>
          </p>
          <br>
          <h2>Características</h2>
          <p align="justify">
            Nuestros enlaces dedicados son para redes de más de 30 usuarios así como para aplicaciones tales como: servidores web, servidores de correo electrónico, servidores FTP, comercio electrónico, etc.
          </p>
          <br>
          <p align="justify">
              Asignación de Direcciones IP Públicas Fijas según sus necesidades. El servicio incluye Soporte técnico vía telefónica, WEB o en sitio. Con un tiempo máximo de atención de incidencias de 4 horas.
          </p>
          <br>
          <p align="justify">
              Inmediata escalabilidad en el ancho de banda
          </p><br>
          <p align="justify">
              Facilidad en la migración desde otras tecnologías (ADSL)
          </p>
            <br>
          <p align="justify">
              El servicio Incluye Consultoría para el diseño y buen funcionamiento de su red, se entrega una herramienta de Monitoreo WEB, el servicio soporta Aplicaciones Server, además brindamos soporte y asesoría técnica en sitio.
          </p>
            <br>
          <p align="justify">
              Renta mensual o anual sin cargos adicionales
          </p>
            <br>
          <p align="justify">
              Adicionalmente usted puede contratar para su red QoS (Control de tráfico), seguridad para su red; suministro y administración de Router y Equipo Firewall, creación de mapa de su red interna con monitoreo en línea de la misma.
          </p>
            <br>
          <p align="justify">
              Tenemos cobertura en toda la zona Metropolitana Puebla-Tlaxcala y municipios conurbados. Tenemos disponibilidad del servicio donde ningún otro proveedor llega.
          </p>
            <br>
          <p align="justify">
              Desarrollamos día a día nuevas zonas y ofrecemos soluciones rentables para dar un servicio de alta calidad y disponibilidad incluso en las zonas más complicadas debido a la lejanía de las grandes ciudades o a lo complicado del lugar donde se encuentre.
          </p>
        </div>

      </div>
    </section>
<!-- Fin Detalles -->

{% endblock %}