{% extends "layout-paginas.html" %}

{% block content %}

<!-- ======= Diseño ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <h2>DISEÑO DE RED</h2>
        <div class="portfolio-description">
          <h2>¡Diseñamos su red a la medida!</h2>
          <p align="justify">
            Diseño y desarrollo de Redes para Hoteles, Campus Universitarios, Corporativos, Oficinas, Escuelas, Instituciones de Gobierno, Restaurantes, Bares, etc. Diseñamos y desarrollamos su red a la medida de su organización para que optimice sus operaciones y obtenga ahorros significativos.
          </p>
          <br>
          <p>
            <i class="bx bx-check"></i><b>Implementamos Zonas WiFi (HotSpot)</b><br><br>
            <i class="bx bx-check"></i><b>Para Hoteles, Complejos, Campus Universitarios, Zonas Comerciales</b><br><br>
            <i class="bx bx-check"></i><b>Con acceso controlado de usuarios</b><br><br>
            <i class="bx bx-check"></i><b>Cobertura con roamming</b><br><br>
            <i class="bx bx-check"></i><b>Puedes Cotizar con nosotros la red que desees implementar según las necesidades de tu organización</b><br><br>
          </p>
          <br>
          <h2>Tipos de redes basadas en la distancia de cobertura</h2>
          <p>
            Las redes de acuerdo a la cobertura geográfica pueden ser clasificadas en LANs, CANs,MANs, y WANs.
          </p>
          <br>
          <h2>LAN: Local Area Network, Red de Area Local</h2>
          <br>
          <p align="justify"> Una LAN conecta varios dispositivos de red en una area de corta distancia (decenas de metros) delimitadas únicamente por la distancia de propagación del medio de transmisión [coaxial (hasta 500 metros), par trenzado (hasta 90 metros) o fibra óptica [decenas de metros], espectro disperso o infrarrojo [decenas de metros]).
          Una LAN podria estar delimitada también por el espacio en un edificio, un salón, una oficina, hogar…pero a su vez podría haber varias LANs en estos mismo espacios. En redes basadas en IP, se puede concebir una LAN como una subred, pero esto no es necesariamente cierto en la práctica.
          Las LAN comúnmente utilizan las tecnologías Ethernet, Token Ring, FDDI (Fiber Distributed Data Interface) para conectividad, así como otros protocolos tales como Appletalk, Banyan Vines, DECnet, IPX, etc.<p>
          <br>
          <h2>CAN: Campus Area Network, Red de Area Campus</h2>
          <br>
          <p align="justify"> Una CAN es una colección de LANs dispersadas geográficamente dentro de un campus (universitario, oficinas de gobierno, maquilas o industrias) pertenecientes a una misma entidad en una área delimitada en kilometros.
          Una CAN utiliza comúnmente tecnologías tales como FDDI y Gigabit Ethernet para conectividad a través de medios de comunicación tales como fibra óptica y espectro disperso.<p>
          <br>
          <h2>MAN: Metropolitan Area Network, Red de Area Metropolitana</h2>
          <br>
          <p align="justify"> Una MAN es una colección de LANs o CANs dispersas en una ciudad (decenas de kilometros). Una MAN utiliza tecnologías tales como ATM, Frame Relay, xDSL (Digital Subscriber Line), WDM (Wavelenght Division Modulation), ISDN, E1/T1, PPP, etc. para conectividad a través de medios de comunicación tales como cobre, fibra óptica, y microondas.<p>
          <br>
          <h2>WAN: Wide Area Network, Red de Area Local</h2>
          <br>
          <p align="justify"> Una WAN es una colección de LANs dispersadas geográficamente cientos de kilometros una de otra. Un dispositivo de red llamado enrutador es capaz de conectar LANs a una WAN.
          Las WAN utilizan comúnmente tecnologías ATM (Asynchronous Transfer Mode), Frame Relay, X.25, E1/T1, GSM, TDMA, CDMA, xDSL, PPP, etc. para conectividad a tráves de medios de comunicación tales como fibra óptica, microondas, celular y vía satélite.<p>
          <br>
          <h2>WLAN y WPAN</h2>
          <br>
          <p align="justify"> También existen las redes inalámbricas WLAN y WPAN, las primeras (wireless Local Area Network) estan delimitadas por la distancia de propagación del medio y de la tecnología empleada, en interiores hasta 100 metros y en exteriores varios kilómetros.
          Las WLAN utilizan tecnologías tales como IEEE 802.11a, 802.11b, 802.15, HiperLAN2, HomeRF, etc. para conectividad a través de espectro disperso (2.4 GHz, 5 GHz).
          Las WPANs (Wireless Personal Area Network) están delimitadas en distancia aún más que las WLANs, desde los 30 metros hasta los 100 metros bajo condiciones óptimas en interiores.
          Las WPAN utilizan tecnologías tales como IEEE 802.15, Bluetooth, HomeRF, 802.11b para conectividad a través de espectro disperso o con infrarrojo.<p>
          <br>
          </p>
        </div>

      </div>
    </section>
<!-- Fin Diseño -->

{% endblock %}