{% extends "layout-paginas.html" %}

{% block content %}

      <!-- ======= Precios ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <h2>INTERNET EMPRESARIAL</h2>
        <div class="section-title">
          <h2>Paquetes</h2>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Mensual</h3>
              <h4><sup>$</sup>399*<span>al mes*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Cobertura en zonas complicadas*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Desde 5 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $399*</li>

              </ul>
              <a href="/servicio-empresarial" class="buy-btn">Leer más</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Semestral</h3>
              <h4><sup>$</sup>650*<span>semestral*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Cobertura en zonas complicadas*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Desde 8 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $650*</li>
              </ul>
              <a href="/servicio-empresarial" class="buy-btn">Leer más</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Anual</h3>
              <h4><sup>$</sup>899*<span>al año*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Enlace a Sucursales*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Desde 10 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $899*</li>
              </ul>
              <a href="/servicio-empresarial" class="buy-btn">Leer más</a>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- Fin Precios -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-description">
          <h2>¡Lo más veloz y confiable para su empresa!</h2>
          <p align="justify">
          <b>BLACOM</b> tiene la solución ideal para su negocio y el manejo de su red, tenemos para usted Router con Calidad de Servicio y Manejo de Ancho de banda.
          </p>
          <br>
            <p align="justify">
                ¿Por qué contar con un buen router para administrar nuestra red?. Tenemos que comentar hacia esta pregunta que un acceso a Internet que no esté bien administrado no hace diferencia en la navegación sobre otros servicios, como la descarga de un archivo ftp, P2P, VoIP o video transmisión, es decir, todos tienen la misma prioridad.
          </p>
          <br>
            <p align="justify">
                Al contar con esta Solución para su negocio usted podrá racionalizar inteligente mente el ancho de banda disponible, pudiendo diferenciar y priorizar aplicaciones interactivas, como; navegación, correo electrónico, vídeo transmisión (IP), ftp, intercambio de archivos P2P, VoIP, etc., dando prioridad a los más importantes para usted y dar además una satisfactoria sensación de navegación a sus usuarios.
          </p>
          <br>
            <p align="justify">
                Esta Solución le permitirá gestionar correctamente esta Calidad de Servicio, asegurando y garantizando los recursos en relación a las necesidades específicas de su negocio.
          </p>
            <br>
            <p align="justify">
                Por ejemplo las empresas que utilizan servicios de Voz IP pueden garantizar un perfecto funcionamiento del sistema con la adecuación del ancho de banda disponible.
          </p>
            <br>
            <p align="justify">
                La integración de un algoritmo de encolamiento, priorización y reserva del ancho de banda permite asegurar la calidad del servicio, donde este sistema se encargará de aplicar de manera automática la política de garantías que usted define a todos los flujos de la red.
          </p>
            <br>
            <p align="justify">
                Lo anterior se logra utilizando un marcado especial de protocolos y servicios dándole prioridad y garantía a los que para usted son más importantes, contando también con la posibilidad de utilizar algunos patrones de capa7 para optimizar la detección de los protocolos y aplicaciones.
          </p>
          <br>
          <p>
            <i class="bx bx-check"></i><b>Implementamos Zonas WiFi (HotSpot).</b><br><br>
            <i class="bx bx-check"></i><b>Para Hoteles, Complejos, Campus Universitarios, Zonas Comerciales.</b><br><br>
              <i class="bx bx-check"></i><b>Hasta 1000 Mbps</b><br><br>
                <i class="bx bx-check"></i><b>Cobertura en zonas complicadas</b><br><br>
                  <i class="bx bx-check"></i><b>Ideal para una gran organización.</b><br><br>
          </p>
          <br>
        </div>

      </div>
    </section>
<!-- Fin Detalles -->

{% endblock %}