{% extends "layout-paginas.html" %}

{% block content %}

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <h2>INTERNET RESIDENCIAL</h2>
        <div class="section-title">
          <h2>Paquetes</h2>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Mensual</h3>
              <h4><sup>$</sup>399*<span>al mes*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Cobertura en zonas complicadas*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Hasta 2 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $399*</li>

              </ul>
              <a href="/servicio-residencial" class="buy-btn">Leer más</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Semestral</h3>
              <h4><sup>$</sup>1,497*<span>semestral*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Cobertura en zonas complicadas*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Hasta 5 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $1,497*</li>
              </ul>
              <a href="/servicio-residencial" class="buy-btn">Leer más</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Anual</h3>
              <h4><sup>$</sup>2,988*<span>al año*</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Conexión permanente a internet</li>
                <li><i class="bx bx-check"></i> No requiere de línea Telefónica</li>
                <li><i class="bx bx-check"></i> Atención personalizada</li>
                <li><i class="bx bx-check"></i> Enlace a Sucursales*</li>
                <li><i class="bx bx-check"></i> Soporte 24/7</li>
                <li><i class="bx bx-check"></i> Hasta 10 Mbps*</li>
                <li><i class="bx bx-check"></i> Desde $2,988*</li>
              </ul>
              <a href="/servicio-residencial" class="buy-btn">Leer más</a>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- Fin Precio -->

    <!-- ======= Detalles ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-description">
          <h2>¡Lo más veloz y confiable para su casa!</h2>
          <p align="justify">
              <b>BLACOM</b> tiene la solución ideal para ti, tenemos un excelente ancho de banda y un equipo de expertos para que jámas pierdas la comunicación.
          </p>
          <br>
            <p align="justify">
                Nos enfocamos en la calidad, te aseguramos un internet estable, conexión segura y gran soporte los 365 días del año.
          </p>
          <br>
          <p>
            <i class="bx bx-check"></i><b>Wifi</b><br><br>
            <i class="bx bx-check"></i><b>Sin Interrupciones</b><br><br>
            <i class="bx bx-check"></i><b>Soporte 365 días</b><br><br>
            <i class="bx bx-check"></i><b>Cobertura en zonas complicadas</b><br><br>
            <i class="bx bx-check"></i><b>Ideal para tu hogar</b><br><br>
          </p>
          <br>
        </div>

      </div>
    </section>
<!-- Fin Detalles -->

{% endblock %}