{% extends "layout-paginas.html" %}

{% block content %}

<!-- ======= Telefonia ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <h2>SERVIDOR DE TELEFONIA</h2>
        <div class="portfolio-description">
          <h2>Sistemas de telefonía completos para pequeñas y grandes empresas</h2>
          <p align="justify">
            La Telefonía IP es una tecnología que permite integrar en una misma red - basada en protocolo IP - las comunicaciones de voz y datos. En ocasiones se usa el término de redes convergentes o convergencia IP, lo cual integra (voz, datos, video, etc.).
          </p>
          <br>
          <p align="justify">
            Cuando hablamos de un sistema de telefonía IP estamos hablando de un conjunto de elementos que debidamente integrados permiten suministrar un servicio de telefonía (basado en VoIP) a la empresa. Los elementos básicos que forman este sistema son: la centralita IP(servidor IP), el Gateway IP y los diferentes teléfonos IP.
          </p>
          <p>
            <i class="bx bx-check"></i><b>Simplificación de la infraestructura de comunicaciones en la empresa</b><br><br>
            <i class="bx bx-check"></i><b>Integración de las diferentes sedes y trabajadores móviles de la organización en un sistema unificado de telefonía con gestión centralizada</b><br><br>
            <i class="bx bx-check"></i><b>Incorporación de la telefonía celular al sistema central de telefonía</b><br><br>
            <i class="bx bx-check"></i><b>Llamadas internas gratuitas (incluso entre sucursales en diferentes sitios geográficos)</b><br><br>
            <i class="bx bx-check"></i><b>Optimización de las lineas de comunicación</b><br><br>
            <i class="bx bx-check"></i><b>Movilidad y el acceso a funcionalidades avanzadas (buzones de voz, IVR, ACD, CTI, etc.)</b><br><br>
            <i class="bx bx-check"></i><b>Ahorros significativos para su empresa</b><br><br>
            <i class="bx bx-check"></i><b>Optimización de las lineas de comunicación</b><br>
          </p>
          <br>
          <p align="justify"> <b>BLACOM</b> pone a su disposición el servidor de Telefonía IP de inmediata y sencilla implementación, con capacidad de hasta 1000 extensiones, integración de 4 líneas celulares y hasta 10 líneas analógicas por el excelente precio de $______ pesos.<p>
          <br>
          <p align="justify"> Hacemos estudio gratuito para determinar las necesidades de su empresa o institución, y darle la solución de Telefonía a la medida de sus necesidades con lo cual tendrá importantes ahorros para su organización. Acérquese con nosotros llámenos al (222)6413505 o envíenos un correo a contacto@blacom.com.mx y nos pondremos de inmediato en contacto con usted.<p>
          <br>
        </div>

      </div>
    </section>
<!-- Fin Telefonia -->

{% endblock %}