{% extends "layout-paginas.html" %}

{% block content %}

<!-- ======= Vigilancia ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <h2>VIGILANCIA IP</h2>
        <div class="portfolio-description">
          <h2>Sistemas completos de vigilancia IP</h2>
          <p align="justify">
            Videovigilancia IP es una tecnología de vigilancia visual que combina los beneficios analógicos de los tradicionales CCTV (Circuito Cerrado de Televisión) con las ventajas digitales de las redes de comunicación IP (Internet Protocol).
          </p>
          <br>
          <p align="justify">
            Por lo cual puede enviar y recibir datos a través de la red informática e Internet, permitiendo la supervisión local y/o remota de imágenes y audio así como el tratamiento digital de las imágenes, para aplicaciones como el reconocimiento de matrículas, reconocimiento facial, vigilancia, etc.
          </p>
          <br>
          <p>
            Hay dos tipos de cámaras IP:
          </p>
          <br>
          <p align="justify">
            Cámaras IP centralizadas, lo que requiere un centro de grabación de vídeo en red (NVR) para manejar la gestión de grabación, video y alarma.
          </p>
          <br>
          <p align="justify">
            Cámaras IP descentralizadas, que no requieren de un centro de grabación de vídeo en red (NVR), es decir que tienen la función de grabación incorporada y por lo tanto pueden grabar directamente en soportes de almacenamiento digitales, tales como unidades flash, discos duros o unidades de almacenamiento conectadas a la red.
          </p>
          <br>
          <p>
            Sistema de Vigilancia IP Corporativo
          </p>
          <br>
          <p align="justify"> En <b>BLACOM</b> tenemos la opción ideal de Video Vigilancia para su corporativo, casa o negocio. Llámenos al (222)6413505 o envíenos un mail a contacto@blacom.com.mx para comentarnos su caso y nos pondremos en contacto de inmediato con usted.<p>
          <br>
          <p align="justify"> Contamos con la solución precisa para usted no importa si su empresa es grande o pequeña, el estudio y la cotización se hace a la medida de sus necesidades, buscando siempre tener la mejor relación costo-beneficio. <p>
          <br>
        </div>

      </div>
    </section>
<!-- Fin Vigilancia -->

{% endblock %}